{% extends "base.html" %}
{% block page_title %}DataPlatforms | בסיסי-הנתונים שלי{% endblock %}
{% block content %}
    </br>
    <h1 style="text-align:right">בסיסי-הנתונים של {{ fullname }}</h1>
    </br>
    <h6 id="systemDesc" style="text-align:right">מערכת:</h6>
    </br>
    <h6 style="text-align:right">לרשימת הרשאות, לחץ על השורה</h6>
    </br>
    <div class="table-responsive-sm">
        <table class="table table-sm table-bordered table-hover" width="100%">
            <thead class="thead-light">
                <th style="text-align:center" scope="col">פלטפורמה</th>
                <th style="text-align:center" scope="col">סביבה</th>
                <th style="text-align:center" scope="col">שם שרת</th>
                <th style="text-align:center" scope="col">בסיס-נתונים</th>
                <th style="text-align:center" scope="col">האם בתמיכה?</th>
            </thead>
            <tbody id="database_details_table">
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/scripty-databaseDetails.js"></script>
<script>
add_my_databases('{{grp_id}}');;
</script>
{% endblock %}